# Các biến môi trường cần điền trên Vercel (Project Settings -> Environment Variables)
SUPABASE_URL=https://eaeasdserkxepvkpiesb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhZWFzZHNlcmt4ZXB2a3BpZXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2NzE4MTksImV4cCI6MjEwNDI0NzgxOX0.chZWZ1b9XJBRLOcImEopG-FbRi_3trbAR3_DT56bhSo
CASSO_WEBHOOK_SECRET=SDFASDonvhsemgfhgjytujghnciuergjrdfgjs462iasdufcs42wdasdfs
